.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  margin-top: auto;
  display: flex;
  padding: 1rem clamp(1rem, 2vw, 2rem);
  background-color: #1b1b1b;
  color: #fff;
}